{% extends 'base2.html.twig' %}

{% block title %}ReservationHotel{% endblock %}

{% block PageContent %}
    <h1>ReservationHotel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdReservation</th>
                <td>{{ reservation_hotel.idReservation }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{{ reservation_hotel.datedebut ? reservation_hotel.datedebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{{ reservation_hotel.datefin ? reservation_hotel.datefin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nbchambres</th>
                <td>{{ reservation_hotel.nbchambres }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('reservation_hotel2_index') }}">back to list</a>

    <a href="{{ path('reservation_hotel2_edit', {'idReservation': reservation_hotel.idReservation}) }}">edit</a>

    {{ include('reservation_hotel2/_delete_form.html.twig') }}
{% endblock %}
